@media screen and (max-width: 992px){
    .jumbotron-image img {
        margin-top: 5px;
        width: 250px;
    }
    .jumbotron-title {
        font-size: 30px;
        margin-top: 5px;
    }
    .desc-footer {
        display: none;
    }
    .footer-title {
        margin-top: 10px;
        font-size: 15px;
    }
    .second-footer {
        font-size: 12px;
    }
    .call-us a, .te-news a {
        font-size: 13px;
    }
    .call-us {
        line-height: 10px;
    }
    .navbar-dropdown {
        justify-content: center;
    }
    .content-logo {
        display: none;
    }
    .akreditasi-content {
        margin-top: 20px;
    }
}

@media screen and (max-width: 922px){
    .jumbotron-title {
        line-height: 40px;
    }
    .jumbotron-description {
        line-height: 20px;
    }
    .btn-hire {
        font-size: 13px;
    }
}

@media screen and (min-width: 770px) {
    .footer-title {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 770px) {
    .jumbotron-title {
        font-size: 25px;
    }
    .jumbotron-description {
        font-size: 15px;
    }
    .jumbotron-image img {
        width: 150px;
    }
    .profil-penulis {
        font-size: 23px;
    }
    .content-title {
        font-size: 26px;
    }
    .writer-profile, .content-description {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px){
    .card-title {
        font-size: 18px;
    }
    .akreditasi-description {
        font-size: 15px;
    }
    .profil-penulis {
        font-size: 23px;
    }
    .content-title {
        font-size: 23px;
    }
    .writer-profile, .content-description {
        font-size: 12px;
    }
    .profile-detail h4 {
        font-size: 17px;
    }
    .profile-detail p {
        font-size: 15px;
    }
    .profile-desc {
        font-size: 15px;
    }
}

@media screen and (min-width: 576px){
    .btn-news {
        margin-top: 30px;
    }
}

@media screen and (max-width: 350px){
    .jumbotron-title {
        font-size: 20px;
        line-height: 25px;
    }
    .navbar-brand img {
        height: 50px;
    }
    .nav__item {
        font-size: 13px;
    }
    .jumbotron-description {
        font-size: 10px;
        line-height: 15px;
    }
    .btn-news {
        font-size: 10px;
    }
    .profil-penulis {
        font-size: 23px;
    }
    .content-title {
        font-size: 20px;
    }
    .writer-profile, .content-description {
        font-size: 10px;
    }
    .akreditasi-description {
        font-size: 13px;
    }
    .profile-detail h4 {
        font-size: 15px;
    }
    .profile-detail p {
        font-size: 13px;
    }
    .profile-desc {
        font-size: 13px;
    }
    .jumbotron-text {
        font-size: 18px;
    }
    .footer-title {
        font-size: 13px;
    }
    .te-news a, .footer-contact, .second-footer {
        font-size: 10px;
    }
    .call-us img {
        width: 15px;
    }
}